* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

huruf
{
	font-family : "Comic sans MS";
}
body{
    margin: 0px;
    padding: 0px;
}

/* for mobile phones */
[class*="col-"]{
    width: 100%;
}


@media only screen and (min-width: 600px) {
    /*for tablets: (ukuran layar lebih besar dari 600px) */
    .col-m-1 {width: 8.33%}
    .col-m-2 {width: 16.66%}
    .col-m-3 {width: 25%}
    .col-m-4 {width: 33.33%}
    .col-m-5 {width: 41.66%}
    .col-m-6 {width: 50%}
    .col-m-7 {width: 58.33%}
    .col-m-8 {width: 66.66%}
    .col-m-9 {width: 75%}
    .col-m-10 {width: 83.33%}
    .col-m-11 {width: 91.66%}
    .col-m-12 {width: 100%}
    .col-m-13 {width: 50%}
}

@media only screen and (min-width: 768px){
    /*for desktop: (ukuran layar ebih besar dari 768px)*/
    .col-1 {width: 8.33%}
    .col-2 {width: 16.66%}
    .col-3 {width: 25%}
    .col-4 {width: 33.33%}
    .col-5 {width: 41.66%}
    .col-6 {width: 50%}
    .col-7 {width: 58.33%}
    .col-8 {width: 66.66%}
    .col-9 {width: 75%}
    .col-10 {width: 83.33%}
    .col-11 {width: 91.66%}
    .col-12 {width: 100%}
    .col-13 {width: 50%}
}
.circle{
    border-radius:360px; 
    width:200px;
}
.row:after{
    content: '';
    clear: both;
    display: block;
    margin: 0px;
}


.row div{
    float: left;
}

nav li{
    display:inline-block;
}

nav li a{
    transition-property:color;
    -webkit-transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    text-decoration: none;
    font-size:24px;
    color: #999;
    font-weight: 300;
}

nav li a:hover{
    color: #fff;
}

h1{
    font-size:64px;
}

h4{
    font-size:18px;
}

.center{
    text-align:center;
}

.black{
    background-color: #000;
    color: #eee;
}
.krem
{
	background-color: #faebd7;
    color: #000;
}
.softpink
{
	background-color: #ffc0cb;
    color: #000;
}
.white{
    background-color: #fff;
    color:#000;
}

.pink
{
	background-color : #ffb6c1;
	color: #000;
}

.biru
{
	background-color: #e0ffff;
    color: #000;
}
.abu
{
	background-color : #d3d3d3;
	color: #000;
}
.merah
{
	background-color : #c71585;
	color: #c71585;
}
.pinkmuda
{
	background-color : #ffe4e1;
	color: #000;
}
img{
    max-width:100%;
    height: auto;
}

.padding-8{
    padding: 8px;
}

.padding-16{
    padding: 16px;
}

.padding-32{
    padding:32px;
}

.padding-64{
    padding:64px;
}

.padding-128{
    padding: 128px;
}
.padding-2{
    padding:auto;
}
table{
    border: 1px solid #ccc;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr{
    border: 1px solid #ddd;
    padding: 5px;
}

table th, table td{
    padding: 10px;
    text-align: center;
}

table th{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

@media screen and (max-width: 600px){
    table{
        border: 0;
    }
    table thead{
        display: none;
    }
    table tr{
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }
    table td{
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
    }
    table td:last-child{
        border-bottom:0;
    }
    table td:before{
        content:attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn { 
  float: left;
  width: 120%;
  padding-left : 180px;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 100%;
  padding-left: 180px;
}

/* Fake image */
.fakeimg {
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: pink;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}
ul{
    list-styke-type:none;
    margin:0;
    padding:0;
}
li{
    float:left;
}
a{
    display: black;
    padding:15px;
    color: white;
    text-decoration:none;
}